In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [4]:
A = open("t_1.txt",'r')
B = open("t_2.txt",'r')
C = open("t_3.txt",'r')
doc_A = A.read()
doc_B = B.read()
doc_C = C.read()
bag_of_words_A = doc_A.split()
bag_of_words_B = doc_B.split()
bag_of_words_C = doc_C.split()
bag_of_words_A = pd.DataFrame(bag_of_words_A)
bag_of_words_B = pd.DataFrame(bag_of_words_B)
bag_of_words_C = pd.DataFrame(bag_of_words_C)

In [44]:
bag_words = pd.DataFrame([bag_of_words_A,bag_of_words_B,bag_of_words_C])
bag_words

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,The,field,of,the,study,refers,to,"disciplines,",study,"area,",...,None,None,None,None,None,None,None,None,None,None
1,The,selection,of,the,field,of,study,is,dependent,on,...,None,None,None,None,None,None,None,None,None,None
2,A,student,must,choose,wisely,a,field,of,study,as,...,and,talents,or,as,per,the,market,or,industry,demand.

In [8]:
unique_words = set(bag_of_words_A).union(set(bag_of_words_B)).union(set(bag_of_words_C))

In [11]:
no_words_A = dict.fromkeys(unique_words,0)
for word in bag_of_words_A:
    no_words_A[word] += 1

In [12]:
no_words_B = dict.fromkeys(unique_words,0)
for word in bag_of_words_B:
    no_words_B[word] += 1

In [13]:
no_words_C = dict.fromkeys(unique_words,0)
for word in bag_of_words_C:
    no_words_C[word] += 1

In [42]:
no_words_df = pd.DataFrame([no_words_A,no_words_B,no_words_C])
no_words_df

,the,"subjects,",field,or,demand.,on,"perspectives,",below.,several,interests,...,study,a,affects,discuss,choose,industry,must,of,market,his
0,1,1,1,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,2,0,1
1,1,0,1,0,0,1,1,1,1,0,...,1,0,0,1,0,0,0,2,0,0
2,2,0,2,2,1,0,0,0,0,1,...,2,1,1,0,1,1,1,2,1,1

In [21]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_word=stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [22]:
def compute_TF(word_Dict,bag_of_words):
    tf_dict = {}
    bag_of_words_count = len(bag_of_words)
    for word, count in word_Dict.items():
        tf_dict[word] = count/float(bag_of_words_count)
    return tf_dict

tf_doc_A = compute_TF(no_words_A,bag_of_words_A)
tf_doc_B = compute_TF(no_words_B,bag_of_words_B)
tf_doc_C = compute_TF(no_words_C,bag_of_words_C)

In [41]:
tf_df = pd.DataFrame([tf_doc_A,tf_doc_B,tf_doc_C])
tf_df

,the,"subjects,",field,or,demand.,on,"perspectives,",below.,several,interests,...,study,a,affects,discuss,choose,industry,must,of,market,his
0,0.050000,0.05,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.050000
1,0.058824,0.00,0.058824,0.000000,0.000000,0.058824,0.058824,0.058824,0.058824,0.000000,...,0.058824,0.000000,0.000000,0.058824,0.000000,0.000000,0.000000,0.117647,0.000000,0.000000
2,0.057143,0.00,0.057143,0.057143,0.028571,0.000000,0.000000,0.000000,0.000000,0.028571,...,0.057143,0.028571,0.028571,0.000000,0.028571,0.028571,0.028571,0.057143,0.028571,0.028571

In [32]:
import math
def compute_IDF(documents):
    n = len(documents)
    
    idf_dict = dict.fromkeys(documents[0].keys(),0)
    for document in documents:
        for word, val in document.items():
            if val>0:
                idf_dict[word] += 1
    
    for word, val in idf_dict.items():
        idf_dict[word] = math.log(n/float(val))
    
    return idf_dict

idfs = compute_IDF([no_words_A,no_words_B,no_words_C])

In [40]:
idfs

,the,"subjects,",field,or,demand.,on,"perspectives,",below.,several,interests,...,study,a,affects,discuss,choose,industry,must,of,market,his
0,0.0,1.098612,0.0,1.098612,1.098612,1.098612,1.098612,1.098612,1.098612,1.098612,...,0.0,1.098612,1.098612,1.098612,1.098612,1.098612,1.098612,0.0,1.098612,0.405465

In [35]:
def compute_TF_IDF(tf_bag_of_words,idfs):
    tf_idf = {}
    for word, val in tf_bag_of_words.items():
        tf_idf[word] = val*idfs[word]
    return tf_idf

tf_idf_A = compute_TF_IDF(tf_doc_A,idfs)
tf_idf_B = compute_TF_IDF(tf_doc_B,idfs)
tf_idf_C = compute_TF_IDF(tf_doc_C,idfs)

In [36]:
tf_idf_df = pd.DataFrame([tf_idf_A,tf_idf_B,tf_idf_C])

In [37]:
tf_idf_df

,the,"subjects,",field,or,demand.,on,"perspectives,",below.,several,interests,...,study,a,affects,discuss,choose,industry,must,of,market,his
0,0.0,0.054931,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.020273
1,0.0,0.000000,0.0,0.000000,0.000000,0.064624,0.064624,0.064624,0.064624,0.000000,...,0.0,0.000000,0.000000,0.064624,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
2,0.0,0.000000,0.0,0.062778,0.031389,0.000000,0.000000,0.000000,0.000000,0.031389,...,0.0,0.031389,0.031389,0.000000,0.031389,0.031389,0.031389,0.0,0.031389,0.011585